@charset "utf-8";

/**************************************************
	GENERAL
**************************************************/
body {
    background-color: #ffffff;
}

h1 {
	border-bottom: 1px solid #eee;
	font-size: 26px;
	margin-bottom: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 14px;
}

/**************************************************
	PAGE STRUCTURE
**************************************************/
#page-wrapper {
    padding: 20px;
}

/**************************************************
	NAVIGATION
**************************************************/
.navbar-default {
    background-color: #DFE4E7;
    border: none;
}

.navbar-default .navbar-header {
    background-color: #2B6B98;
    width: 225px;
}

.navbar-default .navbar-brand {
    padding: 6px 15px;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-brand img {
    display: inline;
    float: left;
}

.navbar-nav li a {
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active>a:focus,
.navbar-default .navbar-nav>li.active>a:hover {
    background-color: #000000;
    color: #ffffff;
}

.top-nav>li>a {
    color: #636363;
}

.side-nav {
    background-color: #1A2226;
    top: 50px;
}

.side-nav>li.active a {
    background-color: #000000;
    color: #ffffff;
}

.side-nav>li>ul {
    background-color: #212D32;
}

.side-nav>li>ul>li>a {
    color: #ffffff;
}